<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>04 - AngularJS and AJAX</title>

</head>

<body ng-app="demoApp">
<div class="container">
    <h1>04 - AngularJS and AJAX</h1>

    <div ng-controller="MoviesCtrl">

        <button ng-click="addMovie()">Add movie</button>

        <ol>
            <li ng-repeat="movie in movies">
                {{movie.title}}
            </li>
        </ol>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.js"></script>
<script src="demo.js"></script>


</body>
</html>