<form name="inputForm">

    <div class="form-group">
        <label>Title</label>
        <input type="text"
               name="title"
               class="form-control"
               ng-model="ctrl.book.title">
    </div>

    <div class="form-group">
        <label>Author</label>
        <input type="text"
               class="form-control"
               ng-model="ctrl.book.author">
    </div>

    <button class="btn btn-default"
            ng-click="ctrl.save()">
        Save
    </button>
</form>